<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="css/index.css" >

        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/vue-i18n/dist/vue-i18n.js"></script>
    </head>
    <body>
        <div id="app">
            <div class="container">
                <div id="notification-container" class="row">
                    <div v-if="infoMessage" class="col-lg-12">
                        <div class="alert alert-primary" role="alert">
                            {{ infoMessage }}
                            <button v-on:click="infoMessage = ''" type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span id="infoAlert" aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                    <div v-if="errorMessage" class="col-lg-12">
                        <div class="alert alert-danger" role="alert">
                            {{errorMessage}}
                            <button v-on:click="errorMessage = ''" type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <h1>{{$t("textUniqueness")}}</h1>
                    </div>
                </div>

                <div>
                    
                    <div class="form-group">
                        <h5>{{$t("textToCompare")}}:</h5>
                        
                        <div v-for="(text, index) in texts" class="inputText">
                            <label>{{$t("text")}} {{index+1}}:</label>
                            <span v-if="index > 1" class="badge badge-danger" v-on:click="removeText(index)">{{$t("remove")}}</span>
                            <input v-model="texts[index]" :key="index" type="text" class="form-control" placeholder="Some text">
                        </div>

                        <button id="addText" type="button" class="btn btn-outline-primary" v-on:click="addText">{{$t("addText")}}</button><br>
                    </div>

                    <div class="form-group">
                        <label>{{$t("nGrams")}}</label>
                        <input v-model="nGrams" type="number" min=1 class="form-control col-md-2">
                    </div>

                    <button class="btn btn-primary" v-on:click="uniquenessRequest">
                        <span v-if="doingRequest" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        {{$t("compare")}}
                    </button>
                    
                </div>

                <div class="row" id="highlightSection">
                    <div class="col-lg-6">
                        <div v-if="hightlightstexts.length > 0" >  
                            <h2>{{$t("commonNGramsHighlights")}}</h2>
        
                            <div v-for="(text, index) in hightlightstexts">
                                <strong>{{$t("text")}} {{index+1}}:</strong>
                                <div v-for="(heigh, index2) in text">
                                    {{$t("nGram")}} {{index2+1}}: <span v-html="heigh"></span>
                                </div>                        
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h2 v-if="uniquenessPercentage" id="uniqueness">{{$t("uniqueness")}}: {{uniquenessPercentage}}%</h2>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <!--Loading literal laguages-->
        <script src="lang/en.js"></script>
        <!--Loading enviroment variable-->
        <script src="env.js"></script>
        <script src="js/index.js"></script>
    </body>
</html>