#uniqueness {
    text-align: center;
}

#spinner-container {
    position: absolute;
    margin-top: 7px;
    margin-left: -4%;
    margin-right: -32px;
}

#notification-container {
    z-index: 1;
    position: absolute;
    width: 84%;
}

.inputText {
    margin-top: 1%;
}

.highlight {
    background-color: yellow;
}

#highlightSection {
    padding-top: 5%;
}

#addText {
    margin-top: 3%;
}